<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
   <input type="text" placeholder="姓名" v-model="emp.name">
   <input type="text" placeholder="工资" v-model="emp.salary">
   <input type="text" placeholder="工作" v-model="emp.job">
    <input type="button" value="添加" @click="add()">
    <table border="1" width="600">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>工资</th>
            <th>工作</th>
        </tr>
        <tr v-for="(emp,i) in arr">
            <td>{{i+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.job}}</td>
        </tr>
    </table>
</div>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            emp:{name:"",salary:"",job:""},
            arr:[]
        },
        methods:{
            add(){
                v.arr.push({name:v.emp.name,salary:v.emp.salary,job:v.emp.job});
            }
        }
    })
</script>
</body>
</html>