<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        header a{
            text-decoration: none;
            color: #6c6c6c;
        }

    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="150px">
            <div style="width: 1200px;margin: 0 auto">
                <img src="imgs/logo.png" style="width: 300px;vertical-align: middle" alt="">
                <a href="/">首页</a><el-divider direction="vertical"></el-divider>
                <a href="">热点资讯</a><el-divider direction="vertical"></el-divider>
                <a href="">商家入驻</a><el-divider direction="vertical"></el-divider>
                <a href="">社会招聘</a><el-divider direction="vertical"></el-divider>
                <a href="">校园招聘</a><el-divider direction="vertical"></el-divider>
                <a href="">帮助</a>
            </div>
            <!--导航菜单开始-->
            <div style="background-color: #82c8ec">
                <el-menu style="width: 1200px;margin: 0 auto"
                    :default-active="activeIndex"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#82c8ec"
                    text-color="#fff"
                    active-text-color="#fff">
                    <!--v-for循环遍历List中的所有查询分类信息对象  一个index下对应一个分类-->
                <el-menu-item v-for="c in categoryArr" :index="c.id">{{c.name}}</el-menu-item>
                    <div style="float: right;position: relative;top: 10px">
                        <el-input placeholder="请输入搜索内容" v-model="wd">
                            <el-button slot="append" icon="el-icon-search" @click="search()"></el-button>
                        </el-input>
                    </div>
            </el-menu>
            </div>
            <!--导航菜单结束-->

        </el-header>
        <el-main style="width: 1200px;margin: 0 auto">
            <el-row gutter="20">
                <el-col span="12">
                    <el-card>
                        <img :src="p.url" width="100%" alt="">
                    </el-card>
                </el-col>
                <el-col span="12">
                    <p style="font-size: 25px">
                        {{p.title}}
                    </p>
                    <span style="color: #666;font-size: 12px">发布于:{{p.created}}</span>
                    <el-divider></el-divider>
                    <p style="font-size: 15px;color: #666">
                        销量:{{p.saleCount}} 浏览量:{{p.viewCount}}</p>
                    <p style="font-size: 25px;font-weight: bold">
                        ￥{{p.price}}
                        <span style="font-size: 15px;color: #666">原价:<s>{{p.oldPrice}}</s></span>
                    </p>
                    <el-row gutter="20" style="text-align: center">
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <p>扫描关注公众号</p>
                        </el-col>
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <p>扫描购买商品</p>
                        </el-col>
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <p>扫描下载App</p>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-main>
        <el-footer>
            <div style="height: 95px;background-image: url('imgs/wave.png')">
            </div>
            <div style="background-color: #3f3f3f;padding:30px 0;text-align: center;color: #b1b1b1">
                <p>Copyright © 北京达内金桥科技有限公司版权所有 京ICP备12003709号-3 京公网安备 11010802029572号
                </p>
                <p>达内在线WWW.TMOOC.CN 专注于IT职业技能培训</p>
                <p>涵盖20余门课程体系，致力于打造权威的IT职业教育学习平台</p>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!--inport Axios Framework-->
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
   let v = new Vue({
        el: '#app',
        data: function() {
            return {
                activeIndex:"",
                wd:"",
                categoryArr:[],
                p:{
                    title:'',
                    price:'',
                    saleCount:'',
                    viewCount:'',
                    oldPrice:'',
                    url:'',
                    created:''
                }
            }
        },
       methods: {
           handleSelect(key,keyPath){
               console.log(key,keyPath);
               //每当点击其他分类,根据分类的id跳转到对应分类的结果页面
               location.href="/result.html?id="+key;
           },
           search(){//详情页面搜索后跳转到结果页面并将搜索的内容wd传入
             location.href="/result.html?wd="+v.wd;
           }
       },
       created:function (){
            axios.get("/category/select").then(function (response) {
                v.categoryArr = response.data;
            })
           //发送请求通过id获取商品详情
           axios.get("/product/selectById/detail"+location.search).then(function (response) {
               v.p = response.data;
           })
       }
   })
</script>
</html>
