<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        header a{
            text-decoration: none;
            color: #6c6c6c;
        }
        .el-table .el-table__cell{
            padding: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="150px">
            <div style="width: 1200px;margin: 0 auto">
                <img src="imgs/logo.png" style="width: 300px;vertical-align: middle" alt="">
                <a href="">首页</a><el-divider direction="vertical"></el-divider>
                <a href="">热点资讯</a><el-divider direction="vertical"></el-divider>
                <a href="">商家入驻</a><el-divider direction="vertical"></el-divider>
                <a href="">社会招聘</a><el-divider direction="vertical"></el-divider>
                <a href="">校园招聘</a><el-divider direction="vertical"></el-divider>
                <a href="">帮助</a>
            </div>
            <!--导航菜单开始   activeIndex该属性代表默认选择菜单为第一个-->
            <div style="background-color: #82c8ec">
                <el-menu style="width: 1200px;margin: 0 auto"
                    :default-active="activeIndex"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#82c8ec"
                    text-color="#fff"
                    active-text-color="#fff">
                    <!--v-for循环遍历List中的所有查询对象-->
                <el-menu-item  v-for="c in categoryArr" :index="c.id">{{c.name}}</el-menu-item><!--下标代表当前菜单-->
                    <div style="float: right;position: relative;top: 10px"><!--相对+浮动定位(往右浮动)-->
                        <el-input placeholder="请输入搜索内容" v-model="wd">
                            <el-button slot="append" icon="el-icon-search" @click="search()"></el-button>
                        </el-input>
                    </div>
            </el-menu>
            </div>
            <!--导航菜单结束-->

        </el-header>
        <el-main style="width: 1200px;margin: 0 auto">
            <el-row gutter="20">
                <el-col span="18">
                    <!--轮播图开始-->
                    <el-carousel height="300px">
                        <!--v-for循环遍历所有轮播图对象-->
                        <el-carousel-item v-for="b in bannerArr">
                            <img :src="b.url" width="100%" height="100%" alt="">
                        </el-carousel-item>
                    </el-carousel>
                    <!--轮播图结束-->
                </el-col>
                <el-col span="6">
                    <el-card>
                        <h3>
                            <i style="font-weight: bold"
                               class="el-icon-trophy">销量最高</i>
                        </h3>
                        <el-divider></el-divider>
                        <el-table
                                :data="topArr"
                                style="width: 100%">
                            <el-table-column type="index" label="排名">
                            </el-table-column>
                            <el-table-column prop="title" label="商品标题" width="100">
                            </el-table-column>
                            <el-table-column prop="saleCount" label="销量">
                            </el-table-column>
                        </el-table>
                    </el-card>
                </el-col>
            </el-row>
        <!--商品列表开始-->
            <el-row gutter="20">
                <el-col style="margin: 10px 0" span="6" v-for="p in productArr">
                    <el-card>
                        <img :src="p.url" width="100%" alt="">
                        <div>
                            <p style="font-size: 15px;height: 40px;margin-top: 0">
                                {{p.title}}</p>
                            <p style="font-size: 12px;color: #666">
                                ￥{{p.price}} 原价:<s>{{p.oldPrice}}</s>
                                <span style="float: right">销量:{{p.saleCount}}件</span><!--该标签共占一行,需要浮动定位-->
                            </p>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        <!--商品列表结束-->
        </el-main>
        <el-footer>
            <div style="height: 95px;background-image: url('imgs/wave.png')">
            </div>
            <div style="background-color: #3f3f3f;padding:30px 0;text-align: center;color: #b1b1b1">
                <p>Copyright © 北京达内金桥科技有限公司版权所有 京ICP备12003709号-3 京公网安备 11010802029572号
                </p>
                <p>达内在线WWW.TMOOC.CN 专注于IT职业技能培训</p>
                <p>涵盖20余门课程体系，致力于打造权威的IT职业教育学习平台</p>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!--inport Axios Framework-->
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
   let v = new Vue({
        el: '#app',
        data: function() {
            return {
                categoryArr: [],
                bannerArr:[],
                activeIndex:"1",//默认菜单下标为1
                wd:"",
                topArr:[{title:"小米电视",saleCount:688},
                    {title:"李宁毛巾",saleCount:548},
                    {title:"安踏拖鞋",saleCount:435},
                    {title:"华为手机",saleCount:322},
                    {title:"匹克球鞋",saleCount:256},
                    {title:"联想电脑",saleCount:198},],
                productArr:[{title:"森马牛仔裤女宽松慢跑裤运动风2022春季新款显瘦束脚长裤复古",price:233,oldPrice:598,url:"imgs/a.jpg",saleCount:2342},
                    {title:"茵曼马甲连衣裙两件套春季新款娃娃领色织格长袖背心裙套装",price:233,oldPrice:598,url:"imgs/b.jpg",saleCount:2342},
                    {title:"雪中飞墨绿色短袖t恤女夏2022新款纯棉半袖打底体恤夏季上衣潮ins",price:233,oldPrice:598,url:"imgs/c.jpg",saleCount:2342},
                    {title:"【佟丽娅同款】鸭鸭明星同款羽绒服2021年冬季新款时尚连帽外套冬",price:233,oldPrice:598,url:"imgs/d.jpg",saleCount:2342},
                    {title:"BEASTER小恶魔鬼脸明星同款夹克毛绒保暖加厚字母印花宽松外套ins",price:233,oldPrice:598,url:"imgs/e.jpg",saleCount:2342},
                    {title:"香影毛呢外套女中长款2021年冬季新款气质韩版娃娃领紫色呢子大衣",price:233,oldPrice:598,url:"imgs/f.jpg",saleCount:2342},
                    {title:"SEMIR森马商场同款打底针织毛衣纯色高领新品显瘦",price:233,oldPrice:598,url:"imgs/g.jpg",saleCount:2342},
                    {title:"美特斯邦威女MTEE 贺岁系列中长款风衣736598",price:233,oldPrice:598,url:"imgs/h.jpg",saleCount:2342},
                    {title:"imone2021秋款黑色小西装外套女韩版学生宽松学院风外套jk外套",price:233,oldPrice:598,url:"imgs/i.jpg",saleCount:2342},
                    {title:"BEASTER 小恶魔明星同款保暖长袖街头潮流连帽卫衣情侣上衣",price:233,oldPrice:598,url:"imgs/j.jpg",saleCount:2342},
                    {title:"憨厚皇后100%绵羊皮2021秋海宁真皮皮衣女长款修身绵羊皮风衣外",price:233,oldPrice:598,url:"imgs/k.jpg",saleCount:2342},
                    {title:"美特斯邦威高腰牛仔裤女宽松小脚新款春秋彩色潮流女士牛仔",price:233,oldPrice:598,url:"imgs/a.jpg",saleCount:2342}]
            }
        },
       methods: {
           handleSelect(key,keyPath){
               console.log(key,keyPath);
           }
       },
       //该方法可在打开页面后直接请求数据,页面进行显示
       created:function () {
           axios.get("/category/select").then(function (response) {
               v.categoryArr = response.data;
           })
           //发请求获取所有轮播图信息
           axios.get("/banner/select").then(function (response) {
               v.bannerArr = response.data;
           })
       }
   })
</script>
</html>
