<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.weibo.mapper.CommentMapper">
    <!--将评论的信息插入到comment表中-->
    <insert id="insert">
        INSERT INTO comment
        VALUES (NULL, #{content}, #{weiboId}, #{userId})
    </insert>

    <!--根据comment表来查询评论的信息,这里根据weibo的id进行查询,因查询结果类型为CommentVO类型,过滤条件-->
    <select id="select" resultMap="commentRM">
        SELECT user_id, content
        FROM comment
        WHERE weibo_id = #{id}
    </select>
    <!--结果的一个手动映射  ★根据指定结果类型对应的属性进行映射,以该类型的属性形式进行输出-->
    <resultMap id="commentRM" type="cn.tedu.weibo.pojo.vo.CommentVO">
        <result column="user_id" property="userId"></result>
    </resultMap>
</mapper>
