<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.weibo.mapper.CommentMapper">
    <!--将评论的信息插入到comment表中-->
    <insert id="insert">
        INSERT INTO comment
        VALUES (NULL, #{content}, #{weiboId}, #{userId})
    </insert>

    <!--查询comment评论表中的信息,这里根据表中的weibo_id进行查询,因字段名有异,故与CommentVO对象类型进行映射-->
    <select id="select" resultMap="commentRM">
        SELECT user_id, content
        FROM comment
        WHERE weibo_id = #{id}
    </select>
    <!--对查询结果进行手动映射  ★根据指定结果类型对应的属性进行映射,与映射对象的属性进行对应-->
    <resultMap id="commentRM" type="cn.tedu.weibo.pojo.vo.CommentVO">
        <result column="user_id" property="userId"></result>
    </resultMap>
</mapper>
