<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
</head>
<body>
<h1>添加商品</h1>
<div>
  <input type="text" placeholder="商品标题" v-model="product.title">
  <input type="text" placeholder="商品价格" v-model="product.price">
  <input type="text" placeholder="商品库存" v-model="product.num">
  <input type="button" value="添加商品" @click="insert()">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
          product:{
            title:'',
            price:'',
            num:''
          }
        },
        methods:{
          insert(){
            //发出异步请求   [返回用户输入的数组对象给处理/insert业务的方法]
            axios.post("/insert",v.product).then(function (response) {
              alert("添加完成!")
              location.href = "/";//回到首页
            })
          }
        }
    })
</script>
</body>
</html>