<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>异步请求</title>
</head>
<body>
<div>
    <h1>异步请求测试</h1>
    <!--两个测试按钮-->
    <input type="text" v-model="name" placeholder="名字"><!--双向绑定-->
    <input type="text" v-model="age" placeholder="年龄">
    <input type="button" value="异步get请求" @click="f1()"><!--事件绑定-->
    <hr>
    <input type="text" placeholder="标题" v-model="product.title"><!--双向绑定-->
    <input type="text" placeholder="价格" v-model="product.price">
    <input type="text" placeholder="库存" v-model="product.num">
    <input type="button" value="异步post请求" @click="f2()"><!--事件绑定-->
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            name:'',//初始化绑定的变量
            age:'',
            product:{//将参数封装到对象中
                title:'',
                price:"",
                num:""
            }
        },
        methods:{
            f1(){ //如果服务器响应了,它就会执行里面的代码,响应数据(java类返回的数据)
                //发出异步的get请求    可在请求地址后向服务器传递要响应的参数
                axios.get("/helloAxios?name="+v.name+"&age="+v.age+"").then(function (response) {
                    //response代表响应对象,里面装着服务器响应的数据
                    //response.data服务器响应的数据
                    alert(response.data);//弹出提示框
                })
            },
            f2(){
                //发出异步的post请求
                axios.post("/postAxios",v.product).then(function (response) {
                    alert(response.data);//弹出提示框
                })
            }
        }
    })
</script>
</body>
</html>