<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>异步注册</title>
</head>
<body>
<div>
    <!--异步请求不需要以表单的形式提交,即不需要添加name属性,和submit提交属性,表单提交是同步请求,
    这里用户输入的信息只需提交到处理业务的方法即可-->
    <input type="text" placeholder="请输入用户名" @blur="f()" v-model="user.username">{{info}}<br><!--@blur失去焦点事件,v-model双向绑定-->
    <input type="password" placeholder="请输入密码" v-model="user.password"><br>
    <input type="text" placeholder="请输入昵称" v-model="user.nickname"><br>
    <input type="button" value="注册" @click="reg()">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el:"body>div",
        data:{
            user:{
                username:'',
                password:'',
                nickname:'',
            },
            info:''
        },
        methods:{
            reg(){
            },
            f(){//处理失去焦点事件,当光标离开的瞬间触发该方法,向提交地址/check中传入username
                axios.get("/check?username="+v.user.username).then(function (response) {
                    v.info = response.data;//将响应利用双向绑定显示到插入的info变量中
                    // alert(response.data);//弹出提示框
                })
                console.log("用户名:"+v.user.username);//在控制台输出
            }
        }
    })
</script>
</body>
</html>