<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container><!--该标签用来定义整体布局-->
        <!--处理顶栏部分-->
        <el-header style="background-color: #0095d7">
            <h1 style="color: white; font-size: 22px">
                CoolShark商城后台管理系统
                <span style="float: right;font-size: 15px">欢迎武清源回来!<a href="">退出登录</a></span>
            </h1>
        </el-header>
        <!--顶栏部分结束-->
        <el-container><!--该标签除顶栏外进行其他布局-->
            <!--该标签用来侧边布局-->
            <el-aside width="200px" style="overflow: hidden">
                <!--导航菜单栏开始-->
                <el-menu @select="handleSelect"><!--添加事件绑定-->

                    <!--添加菜单1-->
                    <el-submenu index="1"><!--index来定义位置-->
                        <!--添加菜单1标题名称并添加图标-->
                        <template slot="title">
                            <i class="el-icon-s-flag"></i>
                            <span>分类管理</span>
                        </template>
                        <!--添加菜单1的2个子菜单选项-->
                        <el-menu-item index="1-1">分类列表</el-menu-item>
                        <el-menu-item index="1-2">添加分类</el-menu-item>
                    </el-submenu>

                    <!--添加菜单2-->
                    <el-submenu index="2"><!--index来定义位置-->
                        <!--添加菜单2标题名称并添加图标-->
                        <template slot="title">
                            <i class="el-icon-picture"></i>
                            <span>轮播图管理</span>
                        </template>
                        <!--添加菜单2的2个子菜单选项-->
                        <el-menu-item index="2-1">轮播图列表</el-menu-item>
                        <el-menu-item index="2-2">添加轮播图</el-menu-item>
                    </el-submenu>

                    <!--添加菜单3-->
                    <el-submenu index="3"><!--index来定义位置-->
                        <!--添加菜单3标题名称并添加图标-->
                        <template slot="title">
                            <i class="el-icon-shopping-cart-2"></i>
                            <span>商品管理</span>
                        </template>
                        <!--添加菜单3的2个子菜单选项-->
                        <el-menu-item index="3-1">商品列表</el-menu-item>
                        <el-menu-item index="3-2">添加商品</el-menu-item>
                    </el-submenu>
                </el-menu>
                <!--导航菜单结束-->
            </el-aside>
            <!--侧边布局结束-->
            <!--该标签用于主要区域布局-->
            <el-main>
                <!--开始处理分类表格1-1-->
                <el-table v-if="currentIndex=='1-1'" :data="categoryArr" style="width: 100%">
                    <!--type=index  设置这一列显示的内容为编号-->
                    <el-table-column type="index" label="编号" width="180">
                    </el-table-column>
                    <el-table-column prop="name" label="分类名称" width="180">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <!--<el-button>改标签用来添加表格中某个字段的删除按钮-->
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="categoryDelete(scope.$index, scope.row)">删除<!--添加事件绑定-->
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!--分类表格结束-->

                <!--开始处理2-1轮播图表格-->
                <el-table v-if="currentIndex=='2-1'" :data='bannerArr' style="width: 100%">
                    <!--<el-table-column>来处理表格中的字段-->
                    <el-table-column type="index" label="编号" width="180">
                    </el-table-column>
                    <el-table-column label="轮播图" width="180">
                        <!--自定义内容必须写在template里面-->
                        <template slot-scope="scope">
                            <!--scope.row得到当前行对应的数组里面的对象-->
                            <img :src="scope.row.url" width="100%" alt="">
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <!--<el-button>改标签用来添加表格中某个字段的删除按钮-->
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="categoryDelete(scope.$index, scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!--轮播图表格结束-->

                <!--商品表格开始-->
                <el-table v-if="currentIndex=='3-1'" :data="productArr" style="width: 100%">
                    <!--<el-table-column>来处理表格中的字段-->
                    <el-table-column type="index" label="编号" width="50">
                    </el-table-column>
                    <el-table-column prop="title" label="商品标题" width="200"></el-table-column>
                    <el-table-column prop="price" label="价格" width="80"></el-table-column>
                    <el-table-column prop="oldPrice" label="原价" width="80"></el-table-column>
                    <el-table-column prop="saleCount" label="销量" width="80"></el-table-column>
                    <el-table-column label="商品图片" width="100">
                        <!--自定义内容必须写在template里面-->
                        <template slot-scope="scope">
                            <!--scope.row得到当前行对应的数组里面的对象-->
                            <img :src="scope.row.url" width="100%" alt="">
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <!--<el-button>改标签用来添加表格中某个字段的删除按钮-->
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="categoryDelete(scope.$index, scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!--商品表格结束-->
            </el-main>
            <!--主要区域部分结束-->
        </el-container>
        <!--该布局结束-->
    </el-container>
    <!--整体布局结束-->
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                currentIndex:"1-1",//默认1-1
                categoryArr:[{name:"品牌服装"},{name:"精品女装"},//向categoryArr数组中添加分类名称
                    {name:"美食健康"},{name:"数码科技"},{name:"篮球鞋"}],
                bannerArr:[{url:"imgs/b1.jpg"},{url:"imgs/b2.jpg"},//向bannerArr数组中添加轮播图图片路径
                    {url:"imgs/b3.jpg"}],
                //向productArr数组中添加{商品标题,价格,原价,销量,商品图片}字段的内容
                productArr:[{title:"森马牛仔裤女宽松慢跑裤运动风2022春季新款显瘦束脚长裤复古",price:233,oldPrice:598,url:"imgs/a.jpg",saleCount:2342},
                    {title:"茵曼马甲连衣裙两件套春季新款娃娃领色织格长袖背心裙套装",price:233,oldPrice:598,url:"imgs/b.jpg",saleCount:2342},
                    {title:"雪中飞墨绿色短袖t恤女夏2022新款纯棉半袖打底体恤夏季上衣潮ins",price:233,oldPrice:598,url:"imgs/c.jpg",saleCount:2342},
                    {title:"【佟丽娅同款】鸭鸭明星同款羽绒服2021年冬季新款时尚连帽外套冬",price:233,oldPrice:598,url:"imgs/d.jpg",saleCount:2342},
                    {title:"BEASTER小恶魔鬼脸明星同款夹克毛绒保暖加厚字母印花宽松外套ins",price:233,oldPrice:598,url:"imgs/e.jpg",saleCount:2342},
                    {title:"香影毛呢外套女中长款2021年冬季新款气质韩版娃娃领紫色呢子大衣",price:233,oldPrice:598,url:"imgs/f.jpg",saleCount:2342},
                    {title:"SEMIR森马商场同款打底针织毛衣纯色高领新品显瘦",price:233,oldPrice:598,url:"imgs/g.jpg",saleCount:2342},
                    {title:"美特斯邦威女MTEE 贺岁系列中长款风衣736598",price:233,oldPrice:598,url:"imgs/h.jpg",saleCount:2342},
                    {title:"imone2021秋款黑色小西装外套女韩版学生宽松学院风外套jk外套",price:233,oldPrice:598,url:"imgs/i.jpg",saleCount:2342},
                    {title:"BEASTER 小恶魔明星同款保暖长袖街头潮流连帽卫衣情侣上衣",price:233,oldPrice:598,url:"imgs/j.jpg",saleCount:2342},
                    {title:"憨厚皇后100%绵羊皮2021秋海宁真皮皮衣女长款修身绵羊皮风衣外",price:233,oldPrice:598,url:"imgs/k.jpg",saleCount:2342},
                    {title:"美特斯邦威高腰牛仔裤女宽松小脚新款春秋彩色潮流女士牛仔",price:233,oldPrice:598,url:"imgs/a.jpg",saleCount:2342}]
            }
        },
        methods: {
            //绑定的事件方法添加到methods内
            categoryDelete(i, category) {//删除事件方法

            },
            handleSelect(key, keyPath) {//菜单栏点击方法
                console.log(key);
                if (key=='1-2'){
                    v.$message("添加分类");
                }else if(key=='2-2'){
                    v.$message("添加轮播图");
                }else if (key=='3-2'){
                    v.$message("添加商品");
                }else {
                    v.currentIndex = key;//否则通过点击的侧边菜单栏位置key值来执行对应的方法
                }
            }
        }
    })
</script>
</html>