<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.coolshark.mapper.CategoryMapper">
    <!--查询数据库中商品分类的信息-->
    <select id="select" resultType="cn.tedu.coolshark.pojo.entity.Category">/*查询的结果类型*/
    SELECT id, name
    FROM category
    </select>

    <!--删除数据库中商品分类的信息-->
    <delete id="deleteById">
        DELETE
        FROM category
        WHERE id = #{id}
    </delete>

    <!--根据传递的name向数据库中插入商品分类的信息-->
    <insert id="insert">
        INSERT INTO category
        VALUES (NULL, #{name})
    </insert>

    <!--修改分类中的信息,以修改的category对象id为条件,接收修改后的name名字进行修改-->
    <update id="update">
        UPDATE category
        SET name=#{name}
        WHERE id = #{id}
    </update>
</mapper>
